* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s linear;
}

section.container {
  padding: 2.5rem 7%;
}

.hero-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.search-container {
  width: max-content;
  display: flex;
}

.search-container .input-keyword {
  padding: 0.5rem 5%;
  font-size: 1.2rem;
  border: 1px solid gray;
  border-radius: 12px 0 0 12px;
}

.search-container .button-search {
  padding: 0 2rem;
  color: white;
  background-color: rgb(77, 77, 252);
  border: 1px solid gray;
  border-radius: 0 12px 12px 0;
  font-weight: 600;
  cursor: pointer;
}

/* card */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100%;
  margin-top: 3rem;
  border-radius: 13px;
  border: 1px solid rgb(192, 190, 190);
  overflow: hidden;
}

.card img {
  width: inherit;
  object-fit: cover;
}

.card .card-body {
  padding: 1.7rem 1.5rem;
}

.card .card-body .year-card {
  color: gray;
  font-weight: 500;
  margin: 0.5rem 0;
}

.card .card-body .show-detail {
  font-size: 1rem;
  border: 1px solid gray;
  color: white;
  background-color: rgb(77, 77, 252);
  border-radius: 7px;
  cursor: pointer;
}

/* modal-box */

.modal-container{
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translate(-50%, -50%);
  /* transition: 0.3s linear; */
  z-index: 99;
}

.modal-container .row {
  display: flex;
  width: 60%;
  margin: auto;
  background-color: rgb(247, 247, 247);
  border: 1px solid gray;
  border-radius: 12px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.modal-container .row .image-container {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.modal-container .row .image-container img {
  object-fit: contain;
}

.modal-container .row .detail {
  position: relative;
}

.modal-container .row .detail .list-group li {
  border: 1px solid gray;
}

.modal-container .row .detail .list-group li:nth-child(6) {
  margin-bottom: 5rem;
}

.modal-container .row .detail .close-button {
  margin: 1rem;
  padding: 0.5rem 1.2rem;
  border: 1px solid gray;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

/* responsive */

@media screen and (min-width: 768px) {
  .search-container .input-keyword {
    width: 30rem;
  }
  .card-container {
    gap: 3%;
  }
  .card {
    max-width: 245px;
  }
  .card .card-body .show-detail {
    padding: 0.5rem 1rem;
  }
  .modal-container .row .detail .list-group {
    padding-left: 0.5rem;
  }
  .modal-container .row .image-container {
    flex: 2;
  }
  .modal-container .row .image-container img {
    width: 80%;
  }
  .modal-container .row .detail {
    flex: 3;
  }
  .modal-container .row .detail .list-group li {
    padding: 1rem;
    border: 1px solid gray;
    border-right: none;
    border-top: none;
  }
  .modal-container .row .detail .list-group li:nth-child(6) {
    border-radius: 0 0 0 12px;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 90%;
  }
  .search-container .input-keyword {
    width: 20rem;
  }
  .card-container {
    gap: 2%;
  }
  .card {
    max-width: 150px;
  }
  .card .card-body .show-detail {
    padding: 0.3rem 1rem;
  }
  .modal-container .row {
    flex-direction: column;
  }
  .modal-container .row .image-container {
    flex: 1;
  }
  .modal-container .row .image-container img {
    width: 43%;
  }
  .modal-container .row .detail {
    flex: 2;
  }
  .modal-container .row .detail .list-group li {
    padding: 0.65rem;
  }
}
